# System files
.env
.DS_Store
.directory
node_modules
vendor
dist 

# Cache &misc files 
cache
logs
*.test
*.prof
*.swp
*.swo
*~
*.bench
*.debug

# CUSTOM USER CONFIG VSCODE
#.vscode/settings.json
#*.code-workspace

## Docker 
*.override.yml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Build artifacts
dist/
bin/
bunny-sign